.abput-project {}

.benefits {
    padding-left: spacer(15);
    padding-top: spacer(2);
    
    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: spacer(7);
    }

    &__img {
        margin-bottom: spacer(4);
    }

    &__title {
        margin-bottom: spacer(2);
    }

    &__info {
        font-weight: 300;
        color: $text-gray;
    }
}