.about-project {
    &__desc {
        & ul {
            list-style: none;

            &>li {
                position: relative;
            
                &:before {
                    content: '';
                    position: absolute;
                    width: 12px;
                    height: 2px;
                    top: 50%;
                    left: spacer(-6);
                    margin-top: -2px;
                    background-color: $orange;
                }
            }
        }
    }
}

.benefits {
    padding-left: spacer(15);
    padding-top: spacer(2);
    
    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: spacer(7);
    }

    &__img {
        margin-bottom: spacer(4);
    }

    &__title {
        margin-bottom: spacer(2);
    }

    &__info {
        font-weight: 300;
        color: $text-gray;
    }
}