.advantages {
    &__info {
        padding-right: spacer(16);

        @media (max-width: 830px) {
            width: 100%;
        }
    }

    &__left {
        @media (max-width: 830px) {
            width: 100%;
        }
    }

    &__right {
        margin-top: spacer(12);

        @media (max-width: 830px) {
            margin-top: spacer(0);
            width: 100%;
        }
    }

    &__item {
        padding: spacer(6);
        margin: 0 spacer(2) spacer(4);
        border-radius: softer(7);
        box-shadow: $box-shadow;

        @media (max-width: 830px) {
            margin: 0 0 spacer(6);
        }
    }

    &__img {
        margin-bottom: spacer(7);
    }
}