.building-steps {
    &__slide {
        overflow: hidden;
        z-index: 6;
        color: $white;
        background-size: cover;
        background-position: center;
        border-radius: softer(4);

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
            z-index: -1;
            transition: opacity $fast-animation;
            background: linear-gradient(310.28deg, #E30993 -14.52%, #23A2E6 75.5%);
        }

        &:hover {
            &:before {
                opacity: .8;
            }
        }
    }

    &__slide.swiper-slide-active::before {
        opacity: .8;
    }

    &__title {
        position: relative;
        font-size: 26px;
        font-weight: 300;
        line-height: 36px;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: spacer(-4);
            width: 100px;
            height: 3px;
            background: $button-gradient;
        }
    }

    &__controll {
        @include swiper-control;
    }

    &__link {
        display: flex;
        align-items: flex-end;
        position: absolute;
        padding: spacer(5) spacer(6);
        
        @include cover-position;
    }
}