.main-header {
    position: fixed;
    width: 100%;
    color: $white;
    z-index: 11;

    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: spacer(7) 0;
    }

    &--sticky {
        color: $text;
        background-color: $white;
        box-shadow: $box-shadow;

        .main-header__content {
            padding: spacer(2) 0;
        }

        & .main-contact__phone {
            margin-bottom: spacer(0);
        }

        & .logo-block__img {
            height: 55px;
            display: none;

            &--dark {
                display: inline-block;
            }
        }

        & .main-contact__phone-icon {
            filter: invert(.8);
        }
    }

    &__logos {
        margin-right: auto;
    }

    &__navigate {
        margin-right: spacer(10);

        @media (max-width: 1240px) {
            margin-right: spacer(5);
        }
    }
}

.logo-block {
    display: flex;
    flex-wrap: nowrap;

    &__link {
        &:not(:last-child) {
            margin-right: spacer(6);
    
            @media (max-width: 1240px) {
                margin-right: spacer(3);
            }
        }

        &--exin {
            @media (max-width: 450px) {
                display: none;
            }
        }
    }

    &__img{
        height: 64px;

        &--dark {
            display: none;
        }

        @media (max-width: 1240px) {
            height: 60px;
        }
    }
}

.navigate {
    
    &__block {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__link {
        position: relative;
        margin-right: spacer(5);
        font-size: 18px;
        font-weight: 300;
        line-height: 1.4;

        &::before {
            position: absolute;
            content: '';
            left: 0;
            bottom: 0;
            height: 2px;
            right: 100%;
            transition: right $slow-animation;
            background-color: $orange;
        }

        &--active::before {
            right: 0;
        }

        @media (max-width: 1240px) {
            margin-right: spacer(4);
        }

        @media (max-width: 1120px) {
            font-size: 16px;
        }
    }

    @media (max-width: 1060px) {
        display: none;
    }
}

.main-contact {
    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__phone {
        font-size: 18px;
        margin-bottom: spacer(2);
    }

    &__phone-icon {
        width: 16px;
        height: 16px;
        margin-right: spacer(1);
    }
}