<section id="callback" class="callback-h pb-6">
    <div class="container-fluid">
       <div class="callback-h__aplet">
          <div class="container">
             <div class="row">
                <div class="col-12">
                   <form class="mb-0" action="">
                      <div class="row position-relative callback-h__row align-items-center py-4 px-4 px-sm-0">
                         <div class="col-md-3 col-xl-3 py-3">
                            <h5 class="callback-h__title">Оставьте заявку,<br>Мы вам перезвоним</h5>
                         </div>
                         <div class="col-md-3 col-xl-3 py-3">
                            <div class="form-group callback-h__group">
                               <i class="fa fa-user callback-h__i"></i>
                               <input type="text" class="form-control promo-form__input" id="staticTopFormName" name="name" placeholder="{{ translate['name'] }}" fieldname="Имя">
                            </div>
                         </div>
                         <div class="col-md-3 col-xl-3 py-3">
                            <div class="form-group callback-h__group">
                               <i class="fa fa-phone callback-h__i"></i>
                               <input type="text" class="form-control promo-form__input" id="staticTopFormPhone" name="phone" placeholder="{{ translate['phone'] }}" fieldname="Телефон" required="required">
                            </div>
                         </div>
                         <div class="col-md-3 col-xl-3 text-center py-3">
                            <a href="#" class="btn btn-white send-form-button" onclick="frontend.form(this); return false">{{ translate['call_back_me'] }} <i class="fa fa-chevron-right ms-2"></i></a>
                         </div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>