body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    color: $text;

    @media (max-width: 376px) {
        font-size: 14px;
    }
}

.section {
    padding: spacer(24) 0;

    &--gray {
        background-color: $bg-gray;
    }

    @media (max-width: 830px) {
        padding: spacer(12) 0;
    }
}

.section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
    &__h2 {
        font-size: 32px;
        line-height: 1.2;
        font-weight: 400;
        margin-bottom: spacer(5);

        @media (max-width: 830px) {
            font-size: 24px;
        }
    }

    &__control {
        display: flex;
        position: relative;
        gap: spacer(6);
        //margin-bottom: spacer(5);
    }
}

.swiper-wrapper {
    height: auto;
}  

.footer-content--bottom {
    top: 40px;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    line-height: 1.4;

    &>a {
        text-decoration: underline;
    }
} 