<section id="3d-tour" class="3d-tour section"> <!-- section--gray -->
    <div class="container">
        <div class="section-title">
            <h2 class="section-title__h2">{{ translate['3d-tour'] }}</h2>
        </div>

        <iframe 
            id="embed-id" 
            loading="lazy" 
            class="ku-embed" 
            frameborder="0" 
            allowfullscreen="" 
            allow="xr-spatial-tracking; gyroscope; accelerometer" 
            scrolling="no" 
            src="https://kuula.co/share/collection/7vyNR?logo=0&info=0&fs=1&vr=1&sd=1&initload=0&thumbs=1" 
            style="height: 700px;"
        ></iframe>
    </div>
</section>