<section id="discounts" class="discounts section" style="padding-top: 0; display:none">
    <div class="container">
        <picture style="width: 100%">
            <source media="(max-width: 550px)" srcset="https://cms.abpx.kz/storage/uploads/2022/11/23/637dd435662df500500.jpg">
            <img src="https://cms.abpx.kz/storage/uploads/2022/11/23/637dd4283c0db1151251.jpg" class="w-100" style="width: 100%">
        </picture>
    </div>
  </section>