<section id="home" class="main-slider" style="background-image: url('https://cms.abpx.kz{{ slider_image_bg.path }}');">
    <div class="main-slider__shadow"></div>
    <div class="main-slider__content slider-content">
        <div class="container-fluid">
            <h1 class="slider-content__title">{{ slider_title }}</h1>
        </div>
    </div>
</section>