<section id="thanks-card" class="thanks-card" style="background-image: url('https://cms.abpx.kz{{ slider_image_bg.path }}');">
    <div class="container">
        <div class="thanks-card__block">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 273 273" fill="none">
                <g clip-path="url(#clip0_285_6)">
                <path d="M224.618 28.9948C188.186 17.1831 149.031 36.8948 136.529 73.0583C124.027 36.8567 84.872 17.1831 48.4399 28.9948C11.5857 40.9985 -8.50954 80.652 3.45604 117.66C14.9609 152.941 121.649 247.435 135.301 247.435C148.954 247.435 258.021 153.056 269.526 117.66C281.529 80.5753 261.434 40.9218 224.618 28.9948Z" fill="url(#paint0_linear_285_6)"/>
                </g>
                <defs>
                <linearGradient id="paint0_linear_285_6" x1="166.687" y1="213.239" x2="63.8505" y2="29.7765" gradientUnits="userSpaceOnUse">
                <stop stop-color="#E30993"/>
                <stop offset="1" stop-color="#23A2E6"/>
                </linearGradient>
                <clipPath id="clip0_285_6">
                <rect width="273" height="273" fill="white"/>
                </clipPath>
                </defs>
            </svg>
            <h1 class="thanks-card__title">
                Спасибо за вашу заявку!
            </h1>
            <p>
                Менеджер свяжется с Вами в бижайшее время
            </p>
            <button class="btn btn--gradient" onclick="history.back()">
                &larr; Вернуться
            </button>
        </div>
    </div>
</section>