.input-group {
    position: relative;

    &__input {
        width: 100%;
        padding: spacer(2) spacer(3);
        font-size: 18px;
        line-height: 30px;
        border-radius: 6px;
        border: 1px solid $gray-light;
        
        &::placeholder {
            color: $text-gray-dark;
        }
    }
}

.input-err {
    position: absolute;
    background: $orange;
    padding: 8px 10px;
    left: 0;
    right: spacer(4);
    top: spacer(10);
    display: inline-flex;
    border-radius: 4px;
    margin-top: 15px;
    line-height: 1.2;
    font-size: 16px;
    width: 100%;

    &:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background: $orange; 
        top: -5px;
        left: 15px;
        transform: rotate(45deg);
    }

    @media (max-width: 830px) {
        position: relative;
        top: auto;
    }
}