@mixin col-flex($size) {
    flex: 0 0 auto;
    width: $size;
}

.container {
    max-width: $container;
    margin: 0 auto;
}

.container-fluid {
    width: $container-fluid;
    padding: 0 80px;
    margin: 0 auto;
}

.flex {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;

    &__1-2 {
        flex: 0 0 auto;
        width: 50%;
    }
} 

