.map__informer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: spacer(8) 0; }

.map-informer__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }
  @media (max-width: 830px) {
    .map-informer__item {
      width: 50%;
      flex: 0 0 auto;
      margin-bottom: spacer(4);
      padding-right: spacer(2); } }

.map-informer__img {
  margin-right: spacer(1); }

.map-informer__text {
  margin-left: spacer(1); }
