.map__informer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: spacer(4);
  padding: spacer(8) 0; }

.map-informer__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }

.map-informer__img {
  margin-right: spacer(1); }

.map-informer__text {
  margin-left: spacer(1); }
